body {
    margin: 0; font-family: 'lobster', Arial, Helvetica, sans-serif; 
    background-color: rgb(232,232,232);
}

@media screen and (max-width: 1200px) {
    body {
        background-color: tan;
    }
}

@media screen and (max-width: 768px) {
    body {
      background-color: olive;
    }
}

@media screen and (max-width: 320px) {
    body {
      background-color: red;
    }
  }

.container {
    background-color: white; margin: 16px; border-radius: 2px;
}

.navbar {
    padding: 26px; display: flex; align-items: center;
}

.navbar > .title {
    font-size: 24pt; font-weight: bold; text-transform: uppercase;
}

.navbar > a {
    color: rgb(180, 180, 180); text-transform: uppercase; display: block;
    padding-left: 16px; padding-right: 16px; border-bottom: 4px solid #FFF;
    padding-bottom: 8px; transition: border-bottom-color 0.4s, color 0.4s;
    border-top: 4px solid #FFF; cursor: pointer;
}

.navbar > a:hover {
    border-bottom-color: rgb(59, 229, 158); color: #000;
}

.gap {
    flex-grow: 1;
}

.pic2 {
    text-align: center;
}

.pic2 > img {
    width: 200px; height: auto;
}


.posted-blogs {
    text-align: center;
}

.description {
    text-align: center;

}

.padding-pic {
    text-align: center; width: 300px; height: auto;
}

.content {
    text-align: center;
}

.list {
    display: block; margin-left: auto; margin-right: auto; width: 160px;
}

.padded {
    padding: 26px; color: #777;
}

.question {
    font-weight: bold; color: #222;
}

h1 {
    color: #222;
}